.banner {
    min-height: 80vh;
    padding: 8em 0 2em 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 10;

    &::after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-image: linear-gradient(
            90deg,
            transparentize($color-background, 0),
            transparentize($color-background, 1)
        );
        z-index: -1;
    }
}