.header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    line-height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 100;

    &.fixed {
        position: fixed;
        background-image: linear-gradient(
            90deg,
            $color-brand,
            $color-brand-alt
        );
        animation: reveal $duration-slow ease;
    }
}