.menu {
    visibility: hidden;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: transparentize($color-contrast, 0.3);
    z-index: 150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}