.posts {
    display: flex;
    flex-wrap: wrap;

    .post {
        width: 100%;

        @media (min-width: $breakpoint-medium) {
            & {
                width: 50%;
            }
        }

        @media (min-width: $breakpoint-large) {
            & {
                width: 40%;
            }
            &:nth-child(4n-2),
            &:nth-child(4n-1) {
                width: 60%;
            }
        }
    }
}
