html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $color-text;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
