@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Slab:400,700');

html {
    font-size: $font-size;

    @media (min-width: $breakpoint-medium) {
        font-size: $font-size-medium;
    }

    @media (min-width: $breakpoint-large) {
        font-size: $font-size-large;
    }
}

body {
    font-family: 'PT Sans', sans-serif;;
    color: $color-text;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
}
