.contact-info{

    &__part{
        border-bottom: 1px solid lighten($color-contrast, 30);
        padding: 1em 0 1em 1em;
        position: relative;

        &:last-child{
            border: none;
        }

        .fa{
            color: lighten($color-contrast, 30);
            position: absolute;
            left: 1.5em;
            top: 2.2em;
            font-size: 1.2rem;
        }

        h4{
            margin-left: 2.2em;
            font-size: 1.2rem;
        }
    }
}