.contact-form{
    padding: 2em;

    @media (min-width: $breakpoint-medium){
        border-right: 1px solid lighten($color-contrast, 30);
    }

    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}