.field{
    width: 100%;
    padding: 1em;

    label{
        color: $color-text;
        font-weight: bold;
        display: block;
        padding: 0.2em 0;
    }

    input[type=text], input[type=email], textarea{
        padding: 0.7em;
        font-size: 1em;
        color: $color-text;
        width: 100%;
        border: none;
        outline: 0;
        background-color: lighten($color-contrast, 7);
    }

    textarea{
        height: 10em;
    }

    input[type=submit]{
        background: $color-text;
        color: $color-contrast;
        font-size: 0.8em;
        padding: 0.8em;
        font-weight: bold;
        border: none;
        outline: 0;
        cursor: pointer;
        transition: $duration-normal;
        border-radius: 1px;

        &:hover{
            background: lighten($color-contrast, 7);
            color: $color-text;
        }
    }

    &.is-half{
        width: 100%;

        @media (min-width: $breakpoint-medium){
            width: 50%;
        }
    }
}