.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    background-color: lighten($color-contrast, 75);
    border: 1px solid lighten($color-contrast, 50);
    border-radius: 0.3em;
    color: $color-contrast;

    @media (min-width: $breakpoint-medium){
        margin: 2em;
    }

    @media (min-width: $breakpoint-large){
        margin: 5em;
    }

    &__item{
        position: relative;
        padding: 3em;
        border-top: 1px solid lighten($color-contrast, 50);
        width: 100%;

        &:nth-child(1){
            border-top: none;
        }

        &__icon{
            position: absolute;
            top: 1em;
            right: 1em;
            color: $color-text;
            background-color: $color-brand;
            width: 2em;
            height: 2em;
            font-size: 1.5em;
            text-align: center;
            line-height: 2em;
            border-radius: 12px;
        }

        @media (min-width: $breakpoint-medium){

            &{
                width: 50%;
                padding-top: 4em;

                &:nth-child(2n){
                    border-left: 1px solid lighten($color-contrast, 50);
                }

                &:nth-child(-n +2){
                    border-top: none;
                }

                &__icon{
                    left: 1em;
                }
            }
        }
    }
}