.main-nav {

    width: 35%;
    margin-bottom: 2em;

    ul {
        li {
            text-align: center;
            border-top: 1px solid darken($color-text, 50);

            &:first-child {
                border: none;
            }

            a {
                line-height: 4em;
                letter-spacing: 0.2em;
            }
        }
    }
}