.post{
    padding: 2em 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
    font-size: 1.3em;

    @media (min-width: $breakpoint-medium){
        padding: 3em 2em;
        font-size: 1em;
    }

    &__title{
        font-size: 2em;
        border-bottom: 3px solid $color-text;

        @media (min-width: $breakpoint-medium){
            font-size: 1em;
        }
    }

    &::after{
        content:'';
        background-color: $color-contrast;
        opacity: 0.7;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        transition: opacity $duration-normal;
    }

    &:hover::after{
        background-color: $color-background !important;
        opacity: 0.3;
    }

    @each $index, $color in $posts-bg-colors{
        &:nth-child(#{$index})::after {
            background-color: $color;
        }
    }
}