body {
    background-color: $color-background-alt;

    &.menu-visible {

        .menu {
            visibility: visible;
        }

        .wrapper {
            filter: blur(10px);
        }
    }
}

.wrapper {
    transition: $duration-normal;
}
